@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-green-400 outline-none;
}

.btn-primary {
  @apply w-full py-3 rounded-lg bg-green-500 text-white font-semibold hover:bg-green-600 transition disabled:opacity-60;
}
